* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #b5d1e6;
  font-family: caveat;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.main-component {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  margin-top: 3vh;
}
h1 {
  color: #e0a29e;
  text-align: center;
  font-size: 5rem;
}

.el {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #fae8b9;
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  font-size: 10rem;
  border-top: 0;
  border-left: 0;
  color: #904e9c;
}

.container-button {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.right-border {
  border-right: 0;
}
.bottom-border {
  border-bottom: 0;
}

button {
  z-index: 100;
  color: #904e9c;
  background: #fae8b9;
  display: block;
  align-items: center;
  appearance: none;

  border-radius: 5rem;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  letter-spacing: 0.25px;
  max-width: 100%;
  width: 20rem;
  height: 6rem;
  margin-top: 8rem;

  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  background: 500ms linear;
}

button:hover {
  background: #f7e0a5;
  color: #904e9c;
  transform: scale(1.05);
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  transform: translateY(4px);
}

.container-score {
  display: flex;
  justify-content: center;
  align-content: center;
}
#score {
  padding-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-size: 5rem;
}
#player1,
#player2 {
  transition: all 100ms ease-in;
}
.score-animation {
  color: #904e9c;
  font-size: 5.1rem;
}
select {
  color: #904e9c;
  border-radius: 0.5rem;
}
.head {
  padding-top: 3rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.stop-pres {
  pointer-events: none;
}
form {
  margin-top: 2rem;
  font-size: 1rem;
}
select {
  background: #dfa7a7;
  color: rgb(75, 2, 2);
}
.winning-message {
  background: #b5d1e6;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #904e9c;
  font-size: 10rem;
  animation: popupFadeIn 0.3s ease-out;
}

.hide {
  display: none;
}
@media only screen and (max-width: 44em) {
  .container-button {
    height: 15rem;
  }
  .head {
    padding-top: 0;
  }
  .el {
    width: 30vw;
    height: 30vw;
  }

  button {
    width: 15rem;
    height: 6rem;
    border-radius: 5rem;
    margin-top: 5rem;
  }

  h1 {
    margin-top: 5rem;
  }
  .winning-message {
    font-size: 6rem;
  }
}
@keyframes popupFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
